button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: unset;
  padding: unset;
  border: unset;
  background-color: unset;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
}