@use 'mixins';

.Button {
  padding: 0.5em 1em;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  font-weight: 700;

  @include mixins.hover {
    background-color: #fff;
    color: #000;
  }
}