.Card {
  padding: 4px;

  &.dragging {
    border: 1px solid #000;
  }

  > .title {
    display: flex;
    align-items: center;

    > .draggable {
      display: inline-flex;
      cursor: grab;
    }

    > h3 {
      padding: 0 8px;
      padding-left: 0;
      font-weight: 600;
    }
  }
}